<div style="margin-bottom: 15px;text-align: center">
	<%= link_to blendit_url, :class => "button" do %>
	<%= content_tag(:i, '', :class => 'icon-plus') + " " + t(:make_my_own_blend) %>
	<% end %>
	<br />
	Try it out, you'll love it!
</div>
