<% content_for :head do %>
<meta content="UniqTeas.com" property="og:site_name">
<% end %>
<div data-hook="product_show" itemscope itemtype="http://schema.org/Product">
  <% @body_id = 'product-details' %>

	<% if @product.master.is_custom? %>
  		<%= render :partial => 'custom_product' %>
  	<% else %>
  		<%= render :partial => 'product' %>
  	<% end %>

</div>
