body {
	font-family: "Abel", sans-serif;
	font-size: 16px;
}
#wrapper {
	margin-top: 5px;
	padding: 5px 0px;
	box-shadow: 0 0 0px #9BB3A1;
}
#header {
	margin-bottom: 0px;
}
.home-page-intro {
	background: url(/assets/store/home-page-background-1.jpg) no-repeat;
	height: 460px;
	width: 560px;
	padding: 0px 0px 0px 20px;
	float: left;
}

.add-to-cart input[type="number"] {
	margin: 0px;
}

.motto {
	margin-top: 55px;
	margin-right: 300px;
	font-size: 34px;
	font-weight: bold;
	color: #4d4d4d;
	float: right;
}

.motto-2 {
	margin-top: 0px;
	font-size: 34px;
	font-weight: bold;
	color: #fff;
	float: left;
	margin-left: 600px;
}

.tin-and-cup {
	position: absolute;
	left: 245px;
	top: 45px;
}

.instructions {
	font-family: 'Abel', sans-serif;
	color: black;
	font-size: 20px;
	margin-bottom: 20px;
	line-height: normal;
}

.heading {
	color: black;
	font-size: 1.7em;
	line-height: 1.1em;
	margin-bottom: .5em;
	font-weight: normal;
	width: 450px;
}

.instruction_bullets {
	width: 200px;
	position: absolute;
	left: 670px;
	top: 10px;
}

.instruction_bullets ul li {
	color: white;
	font-size: 20px;
	padding: .8em 0em .8em 0em;
	line-height: normal;
	border-bottom: 1px solid #333;
}

.step {
	color: white;
	font-size: x-large;
	font-weight: bold;
	margin-right: 0.5em;
}

.center-align {
	text-align: center;
}

.centered {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding-right: 330px;
}

div.flavor1_field, div.flavor2_field, div.flavor3_field, div.flavor1percent_field, div.flavor2percent_field, div.flavor3percent_field {
	width: 260px;
	margin-left: 50px;
	float: left;
	margin-bottom: 10px;
}

div.flavor1_field, div.flavor1percent_field {
	margin-left: 10px;
}

#flavor1div, #flavor2div, #flavor3div, #flavor1percentdiv, #flavor2percentdiv, #flavor3percentdiv {
	margin-bottom: 10px;
}

#custom-product-description {
	width: 600px;
	padding: 5px;
	margin: 0px 0px 50px 0px;
}

#custom-product-images {
	width: 910px;
	height: 350px;
}

#main-image {
	height: 255px;
}

div.ui-slider-horizontal {
	height: .6em;
	margin-top: 6px;
	margin-bottom: 14px;
}

div.ui-slider-horizontal a.ui-slider-handle.ui-state-default.ui-corner-all {
	height: 15px;
	width: 15px;
	top: -.1em;
}

.tea_cups_div, .tea_images_div {
	width: 910px;
	padding: 20px 0px 5px 0px;
	border-bottom: 2px solid #f90;
}

.tea_images_div {
	padding: 5px 0px 5px 0px;
	position: relative;
	float: right;
	width: 435px;
	border: none;
}

.tea_builder_divider {
	margin-bottom: 20px;
}

td.tea-cup-list {
	padding-left: 5px;
	text-align: center;
}

td.tea-cup-list ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

td.tea-cup-list ul li, td.tea-cup-list ul li:hover, td.tea-cup-list ul li.selected {
	background-color: #eee;
	padding: 3px;
	border: 1px solid #BBCAD2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 2px;
	min-height: 48px;
}

td.tea-cup-list ul li:hover {
	background-color: #f90;
	border: 1px solid white;
}

td.tea-cup-list ul li.selected {
	background-color: #09f;
	border: 1px solid white;
	position: relative;
}

td.tea-cup-list ul li.selected div {
	position: absolute;
	right: -5px;
	top: -5px;
	height: 18px;
	width: 18px;
}

.inactive_flavor {
	font-weight: normal;
}

.active_flavor {
	color: #000080;
	font-weight: bold;
}

#percent1div, #percent2div, #percent3div {
	text-align: right;
	padding-right: 10px;
}

#holder1, #holder2, #holder3 {
	height: 310px;
	width: 310px;
	float: left;
}
#slider {
	height: 120px;
	width: 950px;
	float: left;
}

.flavor_fields, .percent_fields, .name_fields, .image_fields, .order_fields, .help-me-fields {
	width: 910px;
	padding: 20px 0px 20px 0px;
	/*border-top: 2px solid #f90; */
}

.image_fields {
	border: none;
	padding: 0px;
	position: relative;
	margin-top: 0px;
	height: 260px;
	width: 250px;
}

.order_fields {
	margin: 0px 0px 50px 0px;
}

.flavor_profile {
	padding: 20px;
	width: 850px;
	min-height: 100px;
}

.blend_attributes {
	float: left;
	width: 890px;
	padding: 0px 10px 0px 10px;
	margin-left: 0px;
	margin-top: 20px;
	height: auto;
	min-height: 100px;
	border: 1px solid #BBB;
	background: #DEE2E2;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.percentInput {
	width: 80px;
	height: 25px;
	text-align: center;
	border: 1px solid black;
	font-size: 18px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.title {
	width: 100%;
	margin: 10px 650px 20px 0px;
	padding: 10px;
	color: #0066CC;
	font-size: 30px;
	background: none;
	border-bottom: 1px solid #D9D9DB;
	float: left;
}

.small_title {
	font-size: 18px;
	margin: 10px 0px 5px 0px;
}

.tea-tin {
	width: 150px;
	height: 150px;
	top: 0px;
	right: -50px;
	position: absolute;
}

.tea-tin-name, .tea-tin-description {
	padding: 2px 5px 5px 5px;
	position: absolute;
	width: 93px;
	top: 43px;
	right: 23.5px;
	font-size: 10.5px;
	font-family: "Yanone Kaffeesatz";
	text-align: center;
}

.tea-tin-description {
	width: 89px;
	padding: 2px 7px 5px 7px;
	top: 139px;
	text-align: left;
	font-size: 5px;
	line-height: normal;
}

.tea-tin-image, .tea-tin-template {
	width: 103px;
	height: 138px;
	top: 43px;
	right: 23.5px;
	position: absolute;
}

.tea-tin-image-fade {
	width: 250px;
	height: 259px;
	top: 0px;
	right: -50px;
	position: absolute;
}

.tea-tag {
	width: 250px;
	height: 259px;
	top: 200px;
	right: -25px;
	position: absolute;
}

.tea-tag-image {
	width: 50px;
	height: 42px;
	top: 203px;
	right: 174px;
	position: absolute;
}

#update-cart .my-coupon-code-field {
	margin-top: -37px;
	margin-bottom: 20px;
	padding-left: 400px;
}

hr {
	height: 0;
	background-color: transparent;
	color: transparent;
	border: none;
}

#categories ul li:hover {
	color: #FF9900;
	cursor: hand;
}

#main-image {
	height: 345px;
}
#main-image img {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
}

.bx-wrapper img {
	width: 120px;
	height: 120px;
}

#home-customer-slider {
	ul {
		list-style: none;
		font-size: 14px !important;
		li {
			font-size: 7px;
			line-height: 9px;
		}
	}
}

	
.home-product-title {
	color: white;
	background-color: #929292;
	margin-bottom: 0px;
	font-size: 9px;
}

.home-product-title  a {
	color: white;
}

.home-product-image {
	overflow: hidden;
	width: 80px;
	height: 90px;
}
.home-product-image img {
	margin-left: -20px;
	margin-top: -15px;
}	

#update-cart .ut-coupon-code-field {
	margin-top: -60px !important;
}

#ut-empty-cart {
	margin-top: -52px !important;
	float: left !important;
}

.label.ui-button {
	color: white;
}
