<% content_for :subheader do %>
  <h1><%= t(:about_uniq_teas) %></h1>
<% end %>
<div class="columns five">
	<h1>UniqTeas Intro Video</h1><br />
	After two years of building UniqTeas, it’s clear that our customers are excited by the opportunity to be creative and express their person taste. Buying “off the shelf” teas is fine, but our customers want more; their own blend of flavors with highly personalized packaging.
</div>
<div class="columns ten" id="videodiv" >
	<iframe width="640" height="360" src="http://www.youtube.com/embed/i9eltyzQjXI?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<div>
<h2>Philosophy</h2>
<p>Located in the scenic Hudson Valley, the UniqTeas reflects its surroundings with their diverse catalog of teas and tisanes.  Beginning in 2010, the Company has always been centered around natural teas and ingredients as well as all-natural packaging.  Michael and Gina Caraway, the owners of the Company, wanted to create a company that would focus on local sustainability, ethical business practices, while providing a gourmet product.</p>
<h2>Big Hoop Foundation</h2>  
<p>The company has a revolutionary philosophy they call Big Hoop Ethics.  While many companies are working with the farms which grow the products they sell especially when they are in underdeveloped countries, UniqTeas is taking that idea a bit farther.  We believe that the there’s a big hoop that encompasses all the people we come in touch with over time. For UniqTeas, those people include our loyal customers, our suppliers, and the farms and small producers that supply us with our wonderful teas. Some years ago we decided that we had a responsibility to everyone in our “Hoop”, to treat them ethically and to make sure that their contact and relationships with us are profitable, both emotionally and financially.  Imagine how much better the world would be if more companies tried to nurture those touch points.</p>
<p>The UniqTeas company has a real family atmosphere.  Whether it is through their unusual employee management practices and benefits, or through the new <%= link_to t(:big_hoop_foundation), spree.bighoop_path %> they are starting, the company works hard to give back some of what they have been blessed to receive.  The new foundation is designed to give back to the communities outside the company that is touches.  This includes funding projects on the farms that grow tea, donating to charities such as Big Brothers Big Sisters,  as well as donating money to food pantries here in the United States.  That's just the start.  The charter of the foundation is to tirelessly seek out more touch points and better methods nurture them.</p>
</div>

