<% content_for :subheader do %>
  <h1><%= t(:big_hoop_foundation) %></h1>
<% end %>
<p>We believe that the there’s a big hoop that encompasses all the people we come in touch with over time. For UniqTeas, those people include our loyal customers, our suppliers, and the farms and small producers that supply us with our wonderful teas.
Some years ago we decided that we had a responsibility to everyone in our “Hoop”, to treat them ethically and to make sure that their contact and relationships with us are profitable, both emotionally and financially.</p>
<p>We created The Big Hoop Foundation as a way to “give back” and to allow our wonderful customers to share in that process. After all, if we all share in giving back, just imagine what we can achieve!</p>
<p>We try our best to make sure that our customers are delighted with our products and our service. We devote a lot of time ensuring that all of our vendors are proud to be working with us, and we devote a portion of our profits to supporting the farms and small producers that work so hard to grow the teas that we all love. We plan to increase that support over time, providing clean water systems, sustainable farming training, and even educational support. We invite you help us do all this by purchasing the teas they grow, and even donating a small amount to this worthy cause.</p>
<p>Thank you,</br/>Gina and Michael Caraway.</p>
<p><form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="WXMH8D9NSPV4A">
<input type="hidden" name="page_style" value="Big_Hoop_Foundation">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</p>
