<% content_for :subheader do %> <h1>Black Program (Large Retailer)</h1>
<% end %>
<h2>Summary</h2>
<p>The black program is designed for the large retailer with over one hundred stores.  At this level you have a
	many options.  Using our custom web application you can create your own loose tea blends, choose from our 
	extensive list of blends, or even choose from our stock tea sachet flavors.  Then just name, describe, and 
	upload your own artwork. </p>
<h2>Packaging Options</h2>
<p>We'll blend your teas, package them in either air tight tins canisters with your own custom label on the tins.<br />
	Or, you have the option of using a stock white or kraft box with your own custom label on it.<br />
	Finally, there is an option for a full custom box.
</p>
<h2>Discount</h2>
<p>55% to 60% off retail prices</p>
<p>To sign up please use this <%= link_to t(:contact), contact_path %> form to request a wholesale account.</p>
