<% content_for :subheader do %> <h1><%= t(:frequently_asked_questions) %></h1>
<% end %>
<div>
	<h2>How much tea is in each tin?</h2>
	<p>
		The amount of tea in each tin varies based on the weight and volume of the tea blend.  The tin is 6 inches tall and 2.6 inches in diameter.  For a very heavy tea (such as a fruit tea) there would be about 4 ounces.  For a lighter tea, like a white tea, it would fit 2 ounces.
	</p>
	<h2>How many cups of tea is that?</h2>
	<p>
		Once again, the amount will vary.  However, each tin should contain approximately 30 to 40 cups of tea. 
	</p>

</div>
<div style="border-top: 1px solid #0073E6; margin-top: 20px;padding-top: 20px;">
	<p>Got a question you'd like answered?  Use our <%= link_to t(:contact), contact_path %> form.</p>
</div>
