<% content_for :subheader do %> <h1><%= t(:privacy_statement) %></h1>
<% end %>

<p>
	Contact information including email address, telephone number,
	address, etc. which is provided by the user is used solely for the
	purpose of completing the order. This includes information pertaining
	to gift recipients.
</p>
<p>
	Financial information including credit card
	numbers, expiration dates, billing address is used solely to bill the
	customer for their order.
</p>

