<% content_for :subheader do %> <h1><%= t(:private_label_programs) %></h1>
<% end %>

<img src="/assets/store/Products.png" width="380" height="310">
<p>Uniqteas makes it possible for anyone from the small retailer with one store right up to the large franchises with hundreds of stores
	to afford the ability to have custom packaged tea. We offer three programs designed to grow with you as your company grows.</p>
<h2><%= link_to "White Program", "/white-program" %></h2>
<p>For the small retailer with up to 20 locations.</p>
<h2><%= link_to "Green Program", "/green-program" %></h2>
<p>For the medium retailer with up to 100 locations.</p>
<h2><%= link_to "Black Program", "/black-program" %></h2>
<p>For the large retailer with over 100 locations.</p>

