<% content_for :subheader do %> <h1>White Program (Small Retailer)</h1>
<% end %>
<img src="/assets/store/GenericTin.png" align="right" />
<h2>Summary</h2>
<p>The white program is designed to allow even the smallest retailer the abilty to have a private label tea.  Using our custom
	web application you can create your own loose tea blends, choose from our extensive list of blends, or even choose from our 
	stock tea sachet flavors.  Then just name, describe, and upload your own artwork. </p>
<h2>Packaging Options</h2>
<p>We'll blend your teas, package them in air tight tins canisters, and stick your own custom label on the tins.</p>
<h2>Discount</h2>
<p>40% to 45% off retail prices</p>
<p>To sign up please use this <%= link_to t(:contact), contact_path %> form to request a wholesale account.</p>
