<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:label_template) %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to t(:new_label_template), spree.new_admin_label_template_url, :icon => 'icon-plus', :id => 'new_admin_label_template_link' %></p>
  </li>
<% end %>

<div id='new-admin-home-page-slider-list' data-hook>
  <%= render :partial => 'list' %>
</div>