<% content_for :head do %>
<% end %>
<div style="width: 880px;margin-top: 20px;">
	<table class="tea_builder_divider" cellpadding="10">
		<tbody>
			<tr>
				<td style="width:13%;text-align:right;line-height:28px;vertical-align:top;padding:10px 15px 0px 0px;">Choose from our extensive flavors.  Every tea is choosen for flavor and brewing characteristics.  We specialize in organic and fair trade teas.</td>
				<td style="width:17%;background-color: #D4E5A5" class="tea-cup-list" id="black_tea_cups"></td>
				<td style="width:17%;background-color: #D4E5A5" class="tea-cup-list" id="fruit_tea_cups"></td>
				<td style="width:17%;background-color: #D4E5A5" class="tea-cup-list" id="herbal_tea_cups"></td>
				<td style="width:17%;background-color: #D4E5A5" class="tea-cup-list" id="green_tea_cups"></td>
				<td style="width:17%;background-color: #D4E5A5" class="tea-cup-list" id="white_tea_cups"></td>
			</tr>
			<tr>
				<td colspan="6"> &nbsp; </td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	window.onload = setup_home();
</script>
