<div class="columns six">
	<img src="/assets/store/girl-drinking-cup.jpg" width="380" height="310">
	<%= render :partial => 'customer_blend_list' %>
</div>
<div class="home-page-intro">
	<div class="heading">
		<%= t(:home_page_intro_html)%>
	</div>
	<div style="margin: 10px 0px 0px 200px">
	</div>
</div>